/*
colors : 
#155263 bleu sombre
#ff6f3c orange sombre
#ff9a3c orange clair
#ffc93c jaune
*/


/* Contenu général */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

/* Bannière */
.banner {
	/*display: flex;*/
	width: 100%;
	height: 70px;
	background-color: #ff6f3c;
	color: #155263;
	text-align: center;
}


/* Titre version 1 sans twitter bootstrap et sans bannière */ 
.title {
	background-color: #97124b; 
	color: #f86254;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}

.background_color {
	background-color: #155263;
}
