/*
colors : 
#155263 bleu sombre
#ff6f3c orange sombre
#ff9a3c orange clair
#ffc93c jaune
*/


/* Contenu général */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

label {
	 color: #ffffff;
}

.font_color {
	color: #ffffff;
}

.font_color a {
	color: #ff9a3c;
}

.font_color a:hover {
	color: #ff6f3c;
}

/* Bannière */
.banner {
	/*display: flex;*/
	width: 100%;
	height: 70px;
	background-color: #ff6f3c;
	color: #155263;
	text-align: center;
}

.background_color {
	background-color: #155263;
}
